- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __form
include __sliders




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header#top
    +header
  .site__center
    +mainSlider
    
    section#about
      .section
        .about.w 
          .section__title 
            h2 О компании
          .section__text.content
            p Компания «Tianyi Natural Gas Compressor Manufacturing Co., Ltd» является профессиональным производителем поршневых компрессоров и активным участником рынка новых технологий в области энергетики с 1995 года. 
            p Компания имеет сертификат ISO, и производит поршневые газовые компрессоры согласно требованиям международных стандартов (например, API 618), с использованием компонентов и запасных частей всемирно известных брендов.
            p Уже более двадцати лет компания производит компрессоры для различных областей применения. 
            p Компания «Tianyi» является лидером на рынке компрессоров для АГНКС и нефтегазовой промышленности в Китае, и предлагает эффективные решения для АГНКС, нефтегазового сектора и химических производств. 
            ul 
              li Если вам нужны компрессоры для АГНКС,
              li если вам нужны компрессоры для применения в нефтегазовом секторе,
              li если вы не можете подобрать решение, которое бы наилучшим образом удовлетворяло ваши потребности,
              li если вы столкнулись с техническими проблемами с вашим оборудованием,

            p смело обращайтесь в нашу компанию...
            p Наши поршневые газовые компрессоры широко используются в следующих областях:
            ul 
              li АГНКС (автомобильные газовые наполнительные компрессорные станции),
              li химические производства,
              li сбор природного газа на месторождениях,
              li другие крупные проекты в нефтегазовом секторе.


    section#price
      .section price
    section#specialists
      .section specialists
    section#comments
      .section comments
    section#partners
      .section partners     
    section#contacts
      .section contacts
    
  .site__footer
    +footer
  
  +toTop

  +scripts



    